<main class="overview-container">
  <section class="timeline no-mobile">

  </section>

  <!-- Sing Course -->
  <mat-card class="course-card">
    <section class="icon-area">
      <img src="./../../../assets/img/icons/abc-main.svg">
    </section>
    <h1>ABC Song</h1>
    <p class="card-text">
      This is the first step to learning English. Lorem Ipsum is simply dummy text of the printing.
    </p>
    <button class="btn-blue-outline" routerLink="../../class/abc">
      Redo this class
    </button>
    <section class="progress">
      <div class="progress-bar">

      </div>
      <p class="small-text">5/5</p>
    </section>
  </mat-card>

  <!-- Writing Course -->
  <mat-card class="course-card">
    <section class="icon-area">
      <img src="./../../../assets/img/icons/writing-main.svg">
    </section>
    <h1>Keyboard - Play</h1>
    <p class="card-text">
      Increase your vocabulary to get to a higher level in English. These exercises will help!
    </p>
    <button class="btn-blue-outline" routerLink="../../class/abc">
      Take this class
    </button>
    <section class="progress">
      <div class="progress-bar half-full">
        <div class="progress-filler"></div>
      </div>
      <p class="small-text">2/5</p>
    </section>
  </mat-card>

  <!-- ABC Course -->
  <mat-card class="course-card">
    <section class="icon-area">
      <img src="./../../../assets/img/icons/sing-main.svg">
    </section>
    <h1>Phonics</h1>
    <p class="card-text">
      This is the first step to learning English. Lorem Ipsum is simply dummy text of the printing.
    </p>
    <button class="btn-blue-outline" routerLink="../../class/abc">
      Redo this class
    </button>
    <section class="progress">
      <div class="progress-bar">

      </div>
      <p class="small-text">5/5</p>
    </section>
  </mat-card>

  <!-- Writing Course -->
  <mat-card class="course-card">
    <section class="icon-area">
      <img src="./../../../assets/img/icons/flash-card-main.svg">
    </section>
    <h1>Pictionary</h1>
    <p class="card-text">
      This is the first step to learning English. Lorem Ipsum is simply dummy text of the printing.
    </p>
    <button class="btn-blue-outline" routerLink="../../class/abc">
      Redo this class
    </button>
    <section class="progress">
      <div class="progress-bar">

      </div>
      <p class="small-text">5/5</p>
    </section>
  </mat-card>

  <!-- Verbs Course -->
  <mat-card class="course-card">
    <section class="icon-area">
      <img src="./../../../assets/img/icons/sing-main.svg">
    </section>
    <h1>Verbs</h1>
    <p class="card-text">
      This is the first step to learning English. Lorem Ipsum is simply dummy text of the printing.
    </p>
    <button class="btn-blue-outline" routerLink="../../class/abc">
      Redo this class
    </button>
    <section class="progress">
      <div class="progress-bar">

      </div>
      <p class="small-text">5/5</p>
    </section>
  </mat-card>

  <!-- Making Sentences Course -->
  <mat-card class="course-card">
    <section class="icon-area">
      <img src="./../../../assets/img/icons/flash-card-main.svg">
    </section>
    <h1>Making Sentences</h1>
    <p class="card-text">
      This is the first step to learning English. Lorem Ipsum is simply dummy text of the printing.
    </p>
    <button class="btn-blue-outline" routerLink="../../class/abc">
      Redo this class
    </button>
    <section class="progress">
      <div class="progress-bar">

      </div>
      <p class="small-text">5/5</p>
    </section>
  </mat-card>

    <!-- Activities Course -->
    <mat-card class="course-card">
      <section class="icon-area">
        <img src="./../../../assets/img/icons/flash-card-main.svg">
      </section>
      <h1>Activities</h1>
      <p class="card-text">
        This is the first step to learning English. Lorem Ipsum is simply dummy text of the printing.
      </p>
      <button class="btn-blue-outline" routerLink="../../class/abc">
        Redo this class
      </button>
      <section class="progress">
        <div class="progress-bar">
  
        </div>
        <p class="small-text">5/5</p>
      </section>
    </mat-card>
</main>
