<mat-toolbar class="desktop-toolbar-top">
  <section class="logo-container">
    <img src="./../../../assets/img/logo.svg">
  </section>
  <nav class="nav-container">
    <a class="menu-link" href="#">Home</a>
    <a class="menu-link" href="#">The program</a>
    <a class="menu-link" href="#">Get Premium</a>
    <a class="menu-link" href="#">Support</a>
    <button class="btn-icon-right" (click)="signOut()">
      Sign out
      <img src="./../../../assets/img/icons/sign-out.svg">
    </button>
  </nav>
</mat-toolbar>