@import '_master';

main.dashboard-wrapper {
    section.header {
        margin: 0;
        padding: 0;
        height: 115px;
        width: 100%;
    }

    section.main-content {
        display: flex;
        height: calc(100vh - 115px);
        flex-flow: row nowrap;
        overflow-y: hidden;

        div.side-bar {
            height: 100%;
            width: auto;
            overflow-y: scroll;
        }

        div.classroom-router-output {
            width: 60%;
            height: 100%;
            overflow-y: scroll;
            padding: 2em 5% 2em 5em;
        }
    }
}